<!DOCTYPE html>
<html>

<head>
    <title>Employee Management System</title>
</head>

<body>

    <h1>🚀 Employee Management System</h1>

    <hr>

    <form method="POST">

        <input
            type="text"
            name="name"
            placeholder="Employee Name"
            required>

        <br><br>

        <input
            type="email"
            name="email"
            placeholder="Email"
            required>

        <br><br>

        <input
            type="number"
            name="salary"
            placeholder="Salary"
            required>

        <br><br>

        <button type="submit">
            Add Employee
        </button>

    </form>

    <hr>

    <h2>Employees</h2>

<table border="1" cellpadding="10">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for emp in employees %}

    <tr>

        <td>{{ emp[0] }}</td>
        <td>{{ emp[1] }}</td>
        <td>{{ emp[2] }}</td>
        <td>{{ emp[3] }}</td>

        <td>
            <a href="/edit/{{ emp[0] }}">Edit</a>
        </td>

        <td>
            <a href="/delete/{{ emp[0] }}">Delete</a>
        </td>

    </tr>

    {% endfor %}

</table>

</body>

</html>
